::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
    position: relative;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #EBF1F5;
    margin-left: 70px;
}

#sidebar {
    width: 220px;
    min-width: 220px;
    position: fixed;
    z-index: 2000;
    transition: all .25s ease-in-out;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-top-left-radius: 20px; /* Lengkungan pada sudut kiri atas */
    border-bottom-left-radius: 20px; /* Lengkungan pada sudut kiri bawah */
    overflow: hidden; /* Pastikan lengkungan terlihat */
}

#sidebar.expand {
    width: 220px;
    min-width: 220px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #000000;
}

.sidebar-logo {
    text-align: center;
    margin: 0.5rem 0;
}

.sidebar-nav {
    margin-top: 0.5rem;
}

.sidebar-logo-img {
    width: 80%;
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #000000;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    color: #307743;
}

.sidebar-item {
    position: relative;
}

.sidebar-item.active {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item.active .sidebar-link {
    background-color: #d6e4f0; /* Ganti dengan warna yang diinginkan */
    color: #000000; /* Ganti dengan warna teks yang diinginkan */
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* desain table */
.table-bordered th,
.table-bordered td {
    border: 2px solid #f0efef;
    background-color: #ffffff;
}
